

<div>

<h1 class="home-title">Home</h1>

<mat-card class="home-card">
    <mat-card-content class="content">
      <div class="text-section">
       
        <h2 class="greeting">Olá Millena!</h2>
        <p class="date">{{ currentDate | date: 'dd, MMMM yyyy' }}</p>
      </div>
  
      <div class="illustration">
        <img src="assets/home.svg" alt="Logo" class="card-logo" width="542" height="450" />
      </div>
      
  
      <button mat-raised-button color="primary" class="welcome-button">
        Bem-vindo ao WenLock!
      </button>
    </mat-card-content>
  </mat-card>
  

</div>
