<h2 mat-dialog-title style="text-align: center; font-weight: bold;">Editar Usuário</h2>

<mat-dialog-content>
  <form>

    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
      <mat-label>nome</mat-label>
      <input matInput [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" placeholder="Card Name" style="border-radius: 0;" >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
      <mat-label>email</mat-label>
      <input matInput [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Website URL" style="border-radius: 0;" >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
      <mat-label>matricula</mat-label>
      <input matInput [(ngModel)]="matricula" [ngModelOptions]="{standalone: true}" placeholder="Username" style="border-radius: 0;" >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
      <mat-label>senha</mat-label>
      <input matInput [(ngModel)]="senha" [ngModelOptions]="{standalone: true}" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password" style="border-radius: 0;">
      <button mat-icon-button type="button" (click)="togglePasswordVisibility()">
        <mat-icon>{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="editUser()">Save</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>
