.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.search-field {
  flex-grow: 1;
  margin-right: 16px;
  width: 20px;
}

.small-input {
  max-width: 300px; 
}

.search-field button {
  margin-left: 8px;
}

.add-password button {
  color: white;
  background-color: #0290A4;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 223px;
  height: 56px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.actions-cell {
  display: flex;
  justify-content: flex-end;
}

mat-icon {
  vertical-align: middle;
}

.table-container {
  padding: 20px;
}

.form-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-column-actions {
  text-align: right !important;
  justify-content: flex-end !important;
  padding-right: 25px !important;

  white-space: nowrap;
}
.mat-header-cell.mat-column-actions {
  text-align: right !important;
  justify-content: flex-end !important;
  padding-right: 58px !important; 
}

.actions-header {
  display: inline-block;
  width: 18%;
  text-align: center;
}

.mat-column-actions button {
  display: inline-flex;
  margin: 0 2px;
  vertical-align: middle;
}

.mat-column-nome {
  flex: 1;
  text-align: left;
}