<mat-card class="login-card">
  <div class="card-header">
      <img src="assets/almaden_logo.png" alt="Logo" class="card-logo" />
  </div>
  <mat-card-content class="content">
   
    <mat-form-field class="full-width">
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" placeholder="Enter username" />
    </mat-form-field>
    
    <mat-form-field class="full-width">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" placeholder="Enter password" type="password" />
    </mat-form-field>
  

    <div class="login-button">
        <button mat-raised-button color="primary" (click)="onLogin()">Log in</button>
      </div>

  
  </mat-card-content>
</mat-card>
